html body {
  font-family: 'Open Sans', sans-serif;
}
.container-full {
  height: 100vh;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#container-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(imagens/coluna-foto.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#hero-conteudo {
  color: #fff;
}
#hero-conteudo h5 {
  color: #FF6400;
  margin-bottom: 1rem;
}
#icons-hero {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#icons-hero a {
  color: #ff6400;
  opacity: 0.3;
  transition: 0.3s;
}
#icons-hero a:hover {
  opacity: 1;
}
#icons-hero i {
  padding: 0.5rem;
  font-size: 2rem;
}
#icons-hero p {
  padding-right: 1rem;
}
#container-sobre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(imagens/coluna-foto.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#sobre-conteudo {
  padding: 4rem 5rem;
}
#sobre-conteudo h2 {
  color: #ff6400;
}
#sobre-conteudo p {
  color: #fff;
}
