html body{font-family:'Open Sans',sans-serif;}
.wid(@wid:100%){width:@wid;}
.flex-center(){display:flex;align-items:center;justify-content:center;}
.bg-img-cover(){background-size:cover;background-position:center center;background-repeat:no-repeat;background-attachment:fixed;}
.container-interno{padding:2rem 2rem;}
.par-lh(){p{line-height:1.5;}
}
.vh(){min-height:50vh;}
// ESTILIZANDO O HERO
#container-hero{background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(imagens/coluna-foto.jpg);.vh;text-align:center;.flex-center;.bg-img-cover;.wid;
	#titulo{color:#fff;font-size:2rem;margin-bottom:1rem;padding:0rem 1rem;}
	#subtitulo{color:#ff6400;font-size:1rem;}
}
// ESTILIZANDO SOBRE
#container-sobre{background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(imagens/coluna-foto.jpg);color:#fff;.vh;.flex-center;.bg-img-cover;.wid;.par-lh;
	h2{text-align:left;color:#ff6400;font-size:2rem;margin-bottom:1rem;}
}
// ESTILIZANDO HABILIDADES
#container-habilidades{text-align:center;.vh;
	h2{font-size:2rem;color:#ff6400;margin-bottom:2rem;}
}
#habilidades-icones{.flex-center;text-align:center;flex-wrap:wrap;}
.habilidade{margin:2rem;
	> i{font-size:3rem;margin-bottom:0.5rem;}
	.estrelas{color:#FFCC00;font-size:0.8rem;margin-top:0.5rem;}
}
// ESTILIZANDO TRABALHOS

#container-trabalhos{.vh;text-align:center;
	h2{color:#ff6400;font-size:2rem;margin-bottom:2rem;}
	i{font-size:2rem;margin-top:5rem;}
}
// ESTILIZANDO FOOTER
#footer{background-color:rgba(0,0,0,0.8);text-align:center;color:#fff;
	p{font-size:0.5rem;margin-top:2rem;}
	li{padding:1rem;}
	li a{color:#fff;transition:0.3s;border-left:1px solid rgba(255,100,0,0.0);border-right:1px solid rgba(255,100,0,0.0);padding:0rem 1rem;
		&:hover{color:#ff6400;border-left:1px solid rgba(255,100,0,0.8);border-right:1px solid rgba(255,100,0,0.8);padding:0rem 0.2rem;}
	}
}