html body {
  font-family: 'Open Sans', sans-serif;
}
.container-interno {
  padding: 2rem 2rem;
}
#container-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(imagens/coluna-foto.jpg);
  min-height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}
#container-hero #titulo {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0rem 1rem;
}
#container-hero #subtitulo {
  color: #ff6400;
  font-size: 1rem;
}
#container-sobre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(imagens/coluna-foto.jpg);
  color: #fff;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}
#container-sobre p {
  line-height: 1.5;
}
#container-sobre h2 {
  text-align: left;
  color: #ff6400;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#container-habilidades {
  text-align: center;
  min-height: 50vh;
}
#container-habilidades h2 {
  font-size: 2rem;
  color: #ff6400;
  margin-bottom: 2rem;
}
#habilidades-icones {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.habilidade {
  margin: 2rem;
}
.habilidade > i {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.habilidade .estrelas {
  color: #FFCC00;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
#container-trabalhos {
  min-height: 50vh;
  text-align: center;
}
#container-trabalhos h2 {
  color: #ff6400;
  font-size: 2rem;
  margin-bottom: 0rem;
}
#container-trabalhos i {
  font-size: 2rem;
  margin-top: 5rem;
}
#container-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-portfolio a {
  color: #fff;
  text-shadow: 2px 2px 2px #4c4c4c;
}
#portfolio001 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 150px;
  background-color: #000;
  background-image: url(imagens/portfolio001.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
}
#portfolio001:hover p {
  opacity: 1;
}
#portfolio001 p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  opacity: 0;
  font-size: 1.5rem;
  padding: 0.5rem;
}
#footer {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #fff;
}
#footer p {
  font-size: 0.5rem;
  margin-top: 2rem;
}
#footer li {
  padding: 1rem;
}
#footer li a {
  color: #fff;
  transition: 0.3s;
  border-left: 1px solid rgba(255, 100, 0, 0);
  border-right: 1px solid rgba(255, 100, 0, 0);
  padding: 0rem 1rem;
}
#footer li a:hover {
  color: #ff6400;
  border-left: 1px solid rgba(255, 100, 0, 0.8);
  border-right: 1px solid rgba(255, 100, 0, 0.8);
  padding: 0rem 0.2rem;
}
@media only screen and (min-width: 850px) {
  .container-interno {
    padding: 5rem 10rem;
  }
  #container-hero #titulo {
    font-size: 5rem;
    margin-bottom: 2rem;
    padding: 0rem 2rem;
  }
  #container-hero #subtitulo {
    color: #ff6400;
    font-size: 2rem;
  }
  #container-sobre h2 {
    text-align: left;
    color: #ff6400;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  #container-sobre p {
    font-size: 1.5rem;
  }
  #container-habilidades {
    text-align: center;
    min-height: 80vh;
  }
  #container-habilidades h2 {
    font-size: 3rem;
    color: #ff6400;
    margin-bottom: 5rem;
  }
  #habilidades-icones {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }
  .habilidade {
    margin: 3rem;
  }
  .habilidade > i {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  .habilidade .estrelas {
    color: #FFCC00;
    font-size: 1rem;
    margin-top: 1rem;
  }
  #container-trabalhos {
    min-height: 80vh;
    text-align: center;
  }
  #container-trabalhos p {
    font-size: 1.5rem;
  }
  #container-trabalhos h2 {
    color: #ff6400;
    font-size: 3rem;
    margin-bottom: 0rem;
  }
  #container-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #container-portfolio a {
    color: #fff;
    text-shadow: 2px 2px 2px #4c4c4c;
  }
  #portfolio001 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 300px;
    background-color: #000;
    background-image: url(imagens/portfolio001.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }
  #portfolio001:hover p {
    opacity: 1;
  }
  #portfolio001 p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94%;
    width: 94%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    opacity: 0;
    font-size: 3rem;
    line-height: 1.5;
    padding: 0.5rem;
  }
  #footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
  #footer #contato {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footer p {
    font-size: 1rem;
    margin-top: 3rem;
  }
  #footer li {
    padding: 1rem;
  }
  #footer li a {
    font-size: 2rem;
    color: #fff;
    transition: 0.3s;
    border: none;
    border-bottom: 1px solid rgba(255, 100, 0, 0);
    padding: 1rem 0rem;
  }
  #footer li a:hover {
    color: #ff6400;
    border: none;
    border-bottom: 1px solid rgba(255, 100, 0, 0.8);
    padding: 0.2rem 0rem;
  }
}
