html body {
  font-family: 'Open Sans', sans-serif;
}
.container-full {
  height: 100vh;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#container-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(imagens/coluna-foto.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 2;
}
#hero-conteudo {
  color: #fff;
}
#hero-conteudo h5 {
  color: #FF6400;
  margin-bottom: 1rem;
}
#icons-hero {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#icons-hero a {
  color: #ff6400;
  opacity: 0.3;
  transition: 0.3s;
}
#icons-hero a:hover {
  opacity: 1;
}
#icons-hero i {
  padding: 0.5rem;
  font-size: 2rem;
}
#icons-hero p {
  padding-right: 1rem;
}
#container-sobre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(imagens/coluna-foto.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 2;
}
#sobre-conteudo {
  padding: 1rem 10rem;
}
#sobre-conteudo h2 {
  color: #ff6400;
  text-align: center;
}
#sobre-conteudo p {
  color: #fff;
  text-align: justify;
}
#habilidades-conteudo {
  padding: 3rem 0rem;
  text-align: center;
}
#habilidades-conteudo h2 {
  color: #ff6400;
}
#habilidades-icones {
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}
.habilidade {
  padding: 2rem 2rem;
  margin: 1rem 5rem;
}
.habilidade p {
  margin-bottom: 1rem;
}
.habilidade > i {
  font-size: 3rem;
}
.habilidade .estrelas {
  color: #FFCC00;
}
@media screen and (max-width: 1024px) {
  #sobre-conteudo {
    padding: 1rem 5rem;
  }
  .habilidade {
    padding: 1rem 2rem;
  }
}
